.project-item-container {
  margin: 20px 0;
  display: flex;
  background: #eeeeee;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 1px 1px 10px grey;
}
.project-item-container .visual {
  text-align: center;
  padding: 20px;
}
.project-item-container .image {
  width: 100%;
  max-width: 400px;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
}
.project-item-container .image:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.project-item-container .title {
  font-size: 18px;
}
.project-item-container .project-link {
  font-size: 16px;
}
.project-item-container .project-name {
  font-weight: bold;
}
.project-item-container .description {
  text-align: justify;
  text-indent: 15px;
}
.project-item-container .tools .tools-label {
  font-weight: bold;
}

@media (max-width: 992px) {
  .project-item-container {
    flex-direction: column-reverse;
    padding: 15px 0;
    background: none;
    border-radius: unset;
    box-shadow: none;
    margin: 0;
  }
  .project-item-container .visual {
    padding: 20px 10px;
  }
  .project-item-container .screenshot-wrapper {
    margin: auto;
  }
  .project-item-container .image {
    max-width: unset;
  }
}