.chatbot-container {
  z-index: 200;
  max-width: 450px;
  position: fixed;
  bottom: 0;
  left: 50px;
  border: 1px solid gray;
  box-shadow: 1px 1px 25px gray;
  background: #e3f2fd;
}
.chatbot-container .chat-closed {
  height: 65px;
}
.chatbot-container .messages {
  height: calc(80vh - 100px);
  max-height: 500px;
  width: 100%;
  overflow: auto;
}
.chatbot-container .chatbot-input-wrapper input {
  margin: 0;
  padding: 0 25px;
  width: calc(100% - 105px);
}
.chatbot-container .chatbot-input-wrapper input::placeholder {
  color: #9e9e9e;
}
.chatbot-container .collapse-header {
  height: 45px;
  line-height: 45px;
  padding-left: 25px;
  cursor: pointer;
  color: white;
}
.chatbot-container .brand-logo {
  font-size: 22px;
  float: left;
}
.chatbot-container .toggle-show-icon {
  float: right;
  margin-right: 25px;
  font-size: 3rem;
}
.chatbot-container .fake-typing {
  align-items: center;
  display: flex;
  height: 45px;
  margin-left: 25px;
}
.chatbot-container .fake-typing .dot {
  background-color: #90949c;
}
.chatbot-container .fake-typing .dot {
  animation: TypingAnimation 1.5s infinite ease-in-out;
  border-radius: 100%;
  display: inline-block;
  height: 7px;
  margin-right: 4px;
  width: 7px;
}
.chatbot-container .fake-typing .dot:nth-child(1){
  animation-delay:200ms;
}
.chatbot-container .fake-typing .dot:nth-child(2){
  animation-delay:300ms;
}
.chatbot-container .fake-typing .dot:nth-child(3){
  animation-delay:400ms;
}

@media (max-width: 600px) {
  .chatbot-container {
    max-width: unset;
    left: unset;
  }
}

@keyframes TypingAnimation {
  0% { transform:translateY(0px) }
  28% { transform:translateY(-10px) }
  44% { transform:translateY(0px) }
}

