.card-containter .card-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 28px;
  font-family: Pixel;
  text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 15px black, 0px 0px 20px black,
    0px 0px 30px black, 0px 0px 40px black;
}

.card-containter .card-content {
  font-family: Pixel;
  font-size: 24px;
  line-height: 20px;
}
