.rsg--sidebar-4 nav {
  color: inherit !important;
  background-color: rgba(0, 0, 0, 0) !important;
  width: auto !important;
  height: auto !important;
  line-height: inherit !important;
  box-shadow: none !important;
}

.rsg--list-49 {
  margin: 0 !important;
  padding-left: 16px !important;
}

.rsg--tabButtons-26 button:focus,
.rsg--controls-41 button:focus,
.rsg--button-32:focus,
.rsg--copyButton-30  {
  background-color: unset !important;
}