.experience-container {
  margin: 20px 0;
  display: flex;
  background: #eeeeee;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 1px 1px 10px grey;
}
.experience-container .visual {
  text-align: center;
}
.experience-container .image {
  width: 100%;
  max-width: 100px;
}
.experience-container .image:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.experience-container .title {
  font-size: 18px;
}
.experience-container .position {
  font-weight: bold;
}
.experience-container .connector {
  margin: 0px 5px;
}
.experience-container .dates-wrapper .duration {
  margin-left: 5px;
  font-weight: bold;
  color: darkgray;
}
.experience-container .location {
  font-size: 16px;
  color: darkgray;
}
.experience-container .description {
  text-align: justify;
  text-indent: 15px;
}
.experience-container .responsibilities .responsibilities-label,
.experience-container .tools .tools-label {
  font-weight: bold;
}
.experience-container .responsibilities ul {
  margin: 0;
  padding-left: 16px;
}
.experience-container .responsibilities li {
  list-style-type: disc;
}

@media (max-width: 600px) {
  .experience-container {
    padding: 15px 0;
    margin: 0 0 20px 0;
    display: block;
    background: none;
    border-radius: unset;
    box-shadow: none;
  }
  .experience-container .image {
    max-width: 150px;
  }
  .experience-container .position {
    font-weight: bold;
  }
  .experience-container .connector {
    margin: 0px 5px;
  }
}

@media (max-width: 450px) {
  .experience-container .position {
    display: block;
  }
  .experience-container .connector {
    display: none;
  }
}