.cards-containter {
  overflow: auto;
  overflow-y: scroll;
}

.cards-containter .cards-scrollable-wrapper {
  display: flex;
}

.cards-containter .card-containter {
  display: inline-block;
  width: 200px;
  margin: 0 10px;
}