.header-container .nav-wrapper {
  padding-left: 25px;
}

.header-container .sidenav-trigger {
  cursor: pointer;
}

.header-container .sidenav-trigger:hover {
  transform: scale(1.1);
}

.header-container .sidenav .name {
  font-weight: 600;
  font-size: 18px;
}

.header-container .sidenav .email {
  font-weight: 300;
  font-size: 14px;
}