.education-section-container {
  padding-bottom: 100px;
}
.education-section-container .education-section-title {
  text-align: center;
  margin: 35px 0;
}
.education-section-container .educations-wrapper {
  margin-bottom: 50px;
}
.education-section-container .certifications-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 25px;
}

@media (max-width: 1200px) {
  .education-section-container .certifications-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 75px 50px;
  }
}

@media (max-width: 600px) {
  .education-section-container .education-section-title {
    font-size: 32px;
    margin: 25px 0;
  }

  .education-section-container .certifications-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}