.language-container {
  display: inline-block;
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
}
.language-container .country-flag {
  width: 100%;
  max-width: 100px;
  border: 1px solid black;
  box-shadow: 1px 1px 10px gray;
}
.language-container .name {
  font-size: 18px;
  font-weight: 500;
}
.language-container .level {
  font-size: 14px;
  color: gray;
}

@media (max-width: 992px) {
  .language-container .name {
    font-size: 14px;
    font-weight: 500;
  }
  .language-container .level {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .language-container .country-flag {
    max-width: 75px;
  }
  .language-container .level {
    font-size: 10px;
  }
}